
{% if args.event %}
  <div class="alert {{args.event_type}} alert-dismissible fade show d-none" id = "alert" role="alert" >{{args.event_text}}
  </button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </div>
  <script>
    const alert = document.getElementById('alert');
    alert.classList.remove('d-none');
    setTimeout(() => {alert.classList.add('d-none');}, 2000)
  </script>  
{% endif %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/static/images/All_Logos/1_Signature_Preferred_2c/1_Signature_Preferred_2c-01.png">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        {%if args.loggedIn == True %}
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
          <li class="nav-item"><a href="/profile" class="nav-link">profile</a></li>
        {%else%}
          <li class="nav-item"><a href="/login-page" class="nav-link">Login</a></li>
        {%endif%}
      </ul>
    </header>
  </div>
